/*@import
url(http://fonts.googleapis.com/css?family=Raleway:400,500);
*/
.body {
	font:Futura;
}

.topnav {
  position: absolute;
  left: 1%;
  top: 1%;
  margin-bottom: 10%;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  float: left;
  margin-bottom: 10%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.logo {
	margin: 15px 15px;
}

.worksButtion {
  width: 80px;
  height: 80px;
  background-color: #696883;
  line-height: 10px;
  text-align: center;
}

.aboutButton {
  width: 80px;
  height: 80px;
  background-color: #696883;
  text-align: center;
  line-height: 10px;
  text-decoration-color: black;
}

.logo {
  width: 18.3px;
  height: 18.3px;
}

/*
Index page
*/

.index-text {
	margin : 1%;
}

.aboutMeTitle {
  font-family: Futura;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #707070;
  float: left;
}

.aboutMeContent {
  font-family: Futura;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #707070;
  text-align: left;
}

.moreAboutMe {
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.21;
  letter-spacing: normal;
  text-align: right;
  color: #3460ab;
}

.indexImageSection img {
	height: 80%;
	width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #707070;
}

.overlayText {
  color: white;
  font-size: 40px;
  font-family: Futura;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.indexImg:hover .overlay{
	opacity: 0.6;

}
.imgMe {
	max-height:300px;
}

.about-title {
  width: 64.5px;
  height: 35.5px;
  font-family: Futura;
  font-size: 12.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.aboutRow1 {
	margin: 20%;
}

.aboutRow2 {
	margin: 5%;
}

.about-content {
  width: 186px;
  height: 173.6px;
  font-family: Futura;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #6a6b6c;
}

.aboutDetailTitle {
  width: 64.5px;
  height: 35.5px;
  font-family: Futura;
  font-size: 12.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  color: #313133;
  margin-top: 5%;
}

.aboutDetailContent {
  width: 188.3px;
  height: 154.9px;
  font-family: Futura;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #313133;
}

.BH {
  width: 153.4px;
  height: 23.8px;
  font-family: Futura;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #36322f;
}

.BHContainer {
	margin-top: 5%;
	margin-bottom: 40%;
}

.arrow {
  width: 2%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30%;
  margin-top: 10%
}

.projectTitleCenter {
  text-align: center;
}

.greyBox {
  background-color: #f1f2f2;
  padding: 2%;
}

.projectSubHead {
  font-family: Futura;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #747577;
  padding: 25px;
}

.projectTitle {
  font-family: Futura;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #f77e0b;	
  margin-bottom: 40px;
}

.contentTitle {
  font-size: 18px;
  font-weight: bold;
  color: #3460ab;
  margin-bottom: 30px;
}

.columnText {
	margin-bottom: 30px;
}

.boxContent {
  font-family: Futura;
  font-size: 8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #464749;
  margin: 1px;
}

.BHCompetitor {
	height: auto;
	width: 70%;
	display: block;
}

.container {
	margin-bottom: 2%;
}

.AIMap {
	height: auto;
	width: 70%;
	display: block;
}

.HACKAHUB {
  width: 153.4px;
  height: 23.8px;
  font-family: Futura;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #36322f;
}

.hachubImage {
	height: auto;
	width: 70%;
	display: block;
	float: center;
}

.contentText {
	font-family: Futura;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.88;
	letter-spacing: normal;
	text-align: left;
	color: #464749;
}

.pieChart1 {
	height: auto;
	width: 90%;
	display: block;
	margin-bottom: 30px;
}

.hackChart2 {
	height: auto;
	width: 100%;
	display: block;
	margin-top: 60px;
	margin-bottom: 60px;
}

.survey {
	height: auto;
	width: 90%;
	display: block;
	margin-bottom: 15%;
}

.laFondueChart {
	height: auto;
	width: 80%;
	display: block;
	margin-bottom:5%;
	position: relative;
	left: 10%;
	top: 10%;
}

.laFondueMoodboard {
  height: auto;
  width: 90%;
  display: block;
}

.contentBold {
  font-weight: bold;
}

.laFondueMoodBoardColor {
  height: auto;
  width: 90%;
  display: block;
}

.laFondueLogo {
  height: auto;
  width: 80%;
  display: block;
}

.laFonduead {
  height: auto;
  width: 100%;
  display: block;
}
.laFondueICONOGRAPHY {
  height: auto;
  width: 70%;
  display: block;
}


