.worksButtion {
  width: 36.1px;
  height: 48.8px;
  background-color: #696883;
  padding: 40px;
  text-align: center;
}

.aboutButton {
  width: 38.6px;
  height: 48.8px;
  opacity: 0.33;
  background-color: #696883;
  padding: 40px;
  text-align: center;
}

.aboutTextButton {
  width: 21px;
  height: 17.6px;
  font-family: Futura;
  font-size: 6px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.19;
  letter-spacing: normal;
  text-align: center;
  color: #696883;
}

.logo {
  width: 18.3px;
  height: 18.3px;
  background-color: #696883;
}

.aboutMeTitle {
/*  width: 89px;
  height: 48.7px;*/
  font-family: Futura;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #f0f0f0;
  text-align: center;
  padding: 40px;
}

.aboutMeContent {
/*  width: 436px;
  height: 111.5px;*/
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  text-align: center;
  padding: 20px;
}

.moreAboutMe {
  font-family: Futura;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.21;
  letter-spacing: normal;
  text-align: right;
  color: #3460ab;
  padding: 20px;
}

.image1 {
  width: 323.5px;
  height: 234px;
  object-fit: contain;
}

.image2 {
  width: 310.5px;
  height: 233px;
  object-fit: contain;
}

.image3 {
  width: 380.5px;
  height: 254px;
  object-fit: contain;
}

.image4 {
  width: 257px;
  height: 254px;
  background-color: #dddddd;
}

.image5 {
  width: 269.5px;
  height: 254px;
  background-color: #dddddd;
}

.image6 {
  width: 363.5px;
  height: 254px;
  background-color: #dddddd;
}
