@import
url(http://fonts.googleapis.com/css?family=Raleway:400,500);

.body {
	font:Futura;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
/*  padding: 2px 2px;
*/  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.logo {
	margin: 15px 15px;
}

.worksButtion {
  width: 80px;
  height: 80px;
  background-color: #696883;
  line-height: 10px;
  text-align: center;
}

.aboutButton {
  width: 80px;
  height: 80px;
  opacity: 0.33;
  background-color: #696883;
  text-align: center;
  line-height: 10px;
}

.logo {
  width: 18.3px;
  height: 18.3px;
  background-color: #696883;
}

.index-text {
	margin : 5%;
}

.aboutMeTitle {
/*  width: 89px;
  height: 48.7px;*/
  font-family: Futura;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #f0f0f0;
  float: center;
}

.aboutMeContent {
/*  width: 436px;
  height: 111.5px;*/
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
  text-align: center;
}

.moreAboutMe {
  font-family: Futura;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.21;
  letter-spacing: normal;
  text-align: right;
  color: #3460ab;
}

.indexImageSection {
  padding: 5%;
}

.indexImageSection div {
  padding: 2px;
}

.indexImageSection img {
  max-width: auto;
  max-height:400px;
  padding: 1px;
  margin-right: 1%;
  margin-left: 1%;
  object-fit: cover;
}
