/* CSS Reset */

* {
	box-sizing:border-box;
}

body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
}

h1 {
	font-size:1.5em;
	color:white;
}
h2 {
	font-size:1.5em;
	color:#F47245;
}

h7 {
	font-size:1.25em;
	color:white;
}
p{
	color:#6B6867;
	font-size:1em;
	text-align:center ;
}
a {
	font-weight:bold;
	text-decoration:none;
	color:inherit;
	font-size:1.5em;
}
a:hover {
	text-decoration: underline;
}





/* Classes */
#maxresdefault{
    max-width:15%;
    object-fit:scale-down;
    display: block;
    margin: 0 auto;
    position: absolute;
    left:40%;
    top: 0;
} 


.container {
	max-width:1000px;
	margin-right: auto;
	margin-left: auto;
}

.media-image {
	max-width:100%;
}



.flex-parent {
	display:flex;
	color:white;
	font-size:0.8em;

}
.flex-child {
	flex: 1 1 auto;
}
.flex-none {
	flex:none;
}
.flex-vertical {
	flex-direction:column;
}
.flex-center {
	align-items:center;
}


.nav ul {
	list-style-type:none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.nav a {
	padding:0.2em 0.5em;
}



.card {
	margin-top:1em;
	margin-bottom:1em;
    background-color:#4582E5;
    padding: 0.8em;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.15);
}
.card :first-child {
	margin-top:0;
}
.card :last-child {
	margin-bottom:0;
}

.clearfix:after,
.card:after {
	display:table;
	clear:both;
	content:'';
}



.view-window {
	height:80vh;
    position:relative;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}
.view-window>img {
	max-width:calc(100% - 100px);
	max-height:calc(100% - 100px);
}

.centered-child {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:65em;

}





.deflist dt {
	font-weight:bold;
	float:left;
	width:10em;
	color: #E5E7EA;
}
.deflist dd {
	margin-left:0;
	float:left;
	width:calc(100% - 10em);
	color: #E5E7EA;
}