/* CSS Reset */
:root {
	--color-main:gray;
	--color-sub:white;
}

* {
	box-sizing:border-box;
}

body {
	margin:0;
	font-family:Georgia,serif;
	font-size:100%;
}

h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.25em;
}
h3,h4,h5,h6 {
	font-size:1em;
}

a {
	font-weight:bold;
	text-decoration:none;
	color:inherit;
}
a:hover {
	text-decoration: underline;
}





/* Classes */

.container {
	max-width:1000px;
	margin-right: auto;
	margin-left: auto;
}
.media-image {
	max-width:100%;
	vertical-align: middle;
}


.nav-crumbs ul,
.nav-tabs ul,
.nav-pills ul,
.nav-horizontal ul,
.flex-parent {
	display:flex;
}
.nav-tabs li,
.nav-stretch li,
.flex-child {
	flex: 1 1 auto;
}
.flex-none {
	flex:none;
}
.flex-vertical {
	flex-direction:column;
}
.flex-center {
	align-items:center;
}





.collapsed,
.nav ul {
	list-style-type:none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.nav a {
	display:block;
	padding:0.2em 0.5em;
	color:var(--color-main);
}
.nav .active>a,
.nav a:hover {
	color:var(--color-sub);
}
.nav a:hover {
	text-decoration:none;
	background-color:var(--color-off);
}
.nav .active>a {
	background-color:var(--color-main);
}

.nav-horizontal li {
	text-align:center;
}

.nav-pills a {
	border-radius:1em;
	padding:0.2em 1em;
}

.nav-tabs a {
	color:var(--color-off);
	border-bottom:3px solid var(--color-off);
}
.nav-tabs a:hover {
	background-color:transparent;
	color:var(--color-main);
}
.nav-tabs .active>a {
	background-color:transparent;
	color:var(--color-main);
	border-bottom-color:var(--color-main);
}


.nav-crumbs a{ 
	color:inherit;
	background-color:transparent;
	display:inline-block;
	font-weight:normal;
}
.nav-crumbs li:before {
	content:'/';
	margin-left:0.1em;
	margin-right:0.1em;
	float:left;
}
.nav-crumbs a:hover{ 
	color:var(--color-off);
	background-color:transparent;
	text-decoration:underline;
}
.nav-crumbs .active>a{ 
	color:var(--color-main);
	background-color:transparent;
	text-decoration:underline;
}






.card {
	margin-top:1em;
	margin-bottom:1em;
    background-color: white;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.15);
}
.card :first-child {
	margin-top:0;
}
.card :last-child {
	margin-bottom:0;
}

.clearfix:after,
.card:after {
	display:table;
	clear:both;
	content:'';
}



.view-window {
	height:80vh;
	position:relative;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}
.view-window>img {
	max-width:calc(100% - 100px);
	max-height:calc(100% - 100px);
}

.centered-child {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}




.deflist dt {
	font-weight:bold;
	float:left;
	width:10em;
}
.deflist dd {
	margin-left:0;
	float:left;
	width:calc(100% - 10em);
}





.table {
	width:100%;
	border-collapse:collapse;
}

.table td,
.table th {
	text-align:left;
	padding:0.2em 0.5em;
	vertical-align: top;
}

.table.striped tbody tr:nth-child(odd) {
	background-color:rgba(0,0,0,0.1);
}
.table.target tbody tr:hover {
	background-color:rgba(0,0,0,0.1);
}
.table.target tbody td:hover {
	background-color:rgba(255,200,200,0.4);
}


.table.lined-horizontal tbody tr {
	border-top:1px solid black;
}
.table.lined-vertical th:not(:first-child),
.table.lined-vertical td:not(:first-child) {
	border-left:1px solid black;
}
.table.lined-outline {
	border:1px solid black;
}