:root {
	--color-main:red;
	--color-sub:white;
}

body {
	background-color:#eee;
}
header {
	background-color:red;
    padding: 1em;
}
header h1 {
    margin: 0;
}


@media (max-width:800px) {
	header h1 {
		font-size:1rem;
	}
}