:root {
	--color-main:#ACCEDE;
	--color-sub:white;
	--color-off:#bbb;
}

body {
	background-color:white;
}
header {
	background-color:#2E3E56;
	background-blend-mode: color-burn;
	width: 100%;
    text-align: center;
}

header h1 {
    margin: 0.8em;
    font-size:2em;
    color:#BCC2CC;
    font-family: round;
    width: 100%;
    text-align: center;
}
header .nav a {
	color:var(--color-sub);
}



.indexBackGround{
			background-attachment: fixed;
			background-size: cover;
			position: absolute;
			width: 100%;
		}



.product-container{
	margin-bottom: 8%;
	margin-top: 2%;
}

.product {
	position:relative;
	overflow:hidden;
	margin-top: 10%;
}
.product-description {
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(172,206,222,0.6);
	transform:translateY(100%);
	transition:all 0.2s;

}
.product:hover .product-description {
	transform:translateY(1);
}

.product-price {
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  font-family:round thin ;
  color:#507896;
}
.product-price a{
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
	font-family:round thin ;
	color:#507896;
}

.cart-value {
	position:relative;
}

.cart-value span {
	position:absolute;
	top:1.5em;
	right:0em;
	font-size:0.8em;
	background-color:white;
	color:black;
	border-radius:1em;
	width:1.2em;
	height:1.2em;
	line-height:1.2em;
	text-align:center;
	overflow:hidden;
	transition:all 0.3s;
	font-family:arial,sans-serif;
}

.user-list-item {
	margin:1em 0;
	padding:0.2em 01em;
	background-color:rgba(0,0,0,0.1);
}


.productlist-item {
	display:block;
}
.productlist-image img {
	width:100%;
	height:30vh;
	object-fit:contain;
	object-position:center;
}


.product-mainimage {
	padding: 1em;
}
.product-thumb {
	width:50px;
	height:50px;
	object-fit:cover;
	object-position:center;
}

.product-des {
	padding: 1em;
	margin:1em;
}

.small-img {
	max-width: 50s%;
	margin-left: 2px;
	margin-right: 20px;
	float: left;
}

.cart-item-name {
	display: block;
	margin-left: 10px;
	margin-top: 10%;
	vertical-align: middle;
	font-family:round ;
	color: #4B729E;
}


.cart-thumb {
	height:30em;
}

.table td.cart-number {
	text-align:center;
}
.table-handler {
	width:100%;
	overflow-x:auto;
}


/* from: www.w3schools.com */
.search-container {
	overflow:hidden;
	position: relative;
	display: inline-block;

}

.search-container input[type=text] {
  border: none;
  height: 3em;
  width: 10em;
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.search-container button {
  border: none;
  cursor: pointer;
  border-radius: 2px;
  position:relative;
  overflow:hidden;
  display: inline-block;
  size: inherit;

}

.search-container button:hover {
  background: #ccc;
}

/*From www.w3schools.com*/

.dropbtn {
  background-color: var(--color-main);
  color: grey;
  font-size: 12px;
  border: none;
  border-radius: 2px;
}

.dropdown {
  padding: 1px;
  z-index: 1;
  display: inline;
}

.dropdown-content {
  display: none;
  position: relative;
/*  background-color: #485975;
*/  min-width: 200px;
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  margin:2px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
}

.dropdown-content button:hover {background-color: white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}


.card-item {
text-align: center;
}
/* from: www.w3schools.com */
.form-control {
margin:1em 0;
}
.form-label {
font-weight:bold;
display:block;
font-size:0.8em;
color:#666;
}
.form-select,
.form-input {
max-width:80%;
min-width:50%;
display:inline-block;
border-width:0;
background-color:#ddd;
font-size:inherit;
font-family:inherit;
color:inherit;
padding:0.5em 1em;
border-radius:0.2em;
-webkit-appearance:none;
cursor:pointer;
}
.select-parent {
position:relative;
margin:1em 0;
}
.btn {
	max-width: 60%;
	margin: 10px;
}

@media (max-width:800px) {
	header h1 {
		font-size:1rem;
	}
	.container {
		padding: 0 1em;
	}
}


/* from: www.w3schools.com */
footer.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

footer.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 50px;
    padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa-instagram {
  background: #125688;
  color: white;
    padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/*
cited from: https://www.w3schools.com/howto/howto_css_shake_image.asp
*/
.start_image {

  position: absolute;
  left: 40%;
  top: 55%;
  animation: shake 2s;
  animation-iteration-count: infinite;
}
.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/*
cited from: https://www.w3schools.com/howto/howto_css_shake_image.asp
*/
@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(2deg); }
  30% { transform: translate(4px, 3px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(2deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(2deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.func a {
      font-size: 12px;
      text-align: center;
      font-family: round;
}

.func button {
  margin: 5px;
  margin-left: 20px;
  position: relative;
  padding-top: 10px;
}
.checkout {

}
.checkout button {
  margin: 5px;
  margin-left: 20px;
  position: absolute;
  padding-top: 10px;
  right:10%;
}
