
p{font-family: futura;
font-size: 1em;
text-align: center;
color:#485869;
}
h4{
font-family: futura;
font-size: 1em;
}
li{
    text-align: center;
}
img{width: 100%;}
h1, h2, h3, h4{text-align: center;
font-family: futura;
color:#E57165;
}
#header{
    background: blue;
}
a{text-align: center;}
#header1{
    background-color: darkgray;
}
#content1{
    background-color: turquoise;
        
}
#header2{
    background-color: aqua;
}
#two{
    background-color: white;
}