body
  { 
/*    background-image:url('picture/background.png');
*/    background-repeat:no-repeat;
    background-size: cover;
    /*background-position:auto auto;
*/    border: 1px
    width: 100%;
    height: 400px;
   }
#background
{
  display: block;
  margin: 0 auto;
  position: absolute;

  top: 38%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*biscuits*/

#Cookies
 {
  margin: 0 auto;
  position: absolute;
  left: 15%;
  top: 5%;
  font-size: 2.5em;
  font-family: chewy 
  }

#Cookie  {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 11%;
  top: 15%;
}

#egg {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  top: 60%;
}

#sugar
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 20%;
  top: 75%;
  
}

 #cranberry
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  top: 100%;
  
}
 #flour
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 20%;
  top: 120%;
}



/*xiaolongbao*/

#XiaoLongBao
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 43%;
  top: 5%;
  font-size: 2.5em;
  font-family: chewy 
}

#eat  {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 41%;
  top: 15%;
}
  
#box  {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 120%;
  }

#open
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 40%;
  top: 87%;
  
}

 #steam
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 60%;
}

/*Steak*/
#Steak
{
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 75%;
  top: 5%;
  font-size: 2.5em;
  font-family: chewy 
}

#dinner {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 72%;
  top: 15%;
}
#fry {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 85%;
  top: 55%;
}

#raw
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 75%;
  top: 75%;
  
}

 #seasoning
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 85%;
  top: 100%;
  
}
 #blackpepper
 {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 75%;
  top: 120%;
}



 
.material {
    width: 150px;
    height: 150px;
    object-fit:scale-down;
} 

.finished {
    width: 230px;
    height: 230px;
    object-fit:scale-down;
} 


